In [182]:
# Image retrieval using deep features
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.pipeline import Pipeline

from sklearn.cluster import KMeans

In [114]:
# load the dataset for people wiki
people = pd.read_csv('people_wiki.csv')

In [115]:
# print people dataset
people

,URI,name,text
0,<http://dbpedia.org/resource/Choc\'late_Allen>,Choc\'late Allen,choclate allen born june 19 1993 is a child ac...
1,<http://dbpedia.org/resource/Nikki_Walker>,Nikki Walker,nikki walker born 5 march 1982 in aberdeen is ...
2,<http://dbpedia.org/resource/Philip_Haas>,Philip Haas,philip haas born 1954 is an american artist sc...
3,<http://dbpedia.org/resource/Kevin_Rubio>,Kevin Rubio,kevin rubio born december 20 1967 is an americ...
4,<http://dbpedia.org/resource/Fran%C3%A7ois-Xav...,Fran%C3%A7ois-Xavier Roth,franoisxavier roth born 6 november 1971 paris ...
...,...,...,...
1465,<http://dbpedia.org/resource/Olari_Elts>,Olari Elts,olari elts born april 27 1971 in tallinn eston...
1466,<http://dbpedia.org/resource/Scott_F._Crago>,Scott F. Crago,scott francis crago born july 26 1963 twin bro...
1467,<http://dbpedia.org/resource/David_Cass_(footb...,David Cass (footballer),david william royce cass born 27 march 1962 in...
1468,<http://dbpedia.org/resource/Keith_Elias>,Keith Elias,keith hector elias born february 3 1972 in lac...
1469,<http://dbpedia.org/resource/Fawaz_Damrah>,Fawaz Damrah,fawaz mohammed damrah arabic fawwz damra was t...

In [116]:
### Explore data
## Taking a look at the entry for President Obama
rubio = people[people['name'] == 'Kevin Rubio']

In [117]:
# Print record
rubio

,URI,name,text
3,<http://dbpedia.org/resource/Kevin_Rubio>,Kevin Rubio,kevin rubio born december 20 1967 is an americ...

In [118]:
# print out the text variable
print(rubio['text'])

3    kevin rubio born december 20 1967 is an americ...
Name: text, dtype: object

In [119]:
# Create document Array 
documents = people['text']

In [120]:
# Write function to vectorize the word counts into a data frame
def MakeVector(doc_array):
    vectorizer = CountVectorizer()
    word_matrix = vectorizer.fit_transform(doc_array)
    word_matrix = word_matrix.toarray()
    word_names = vectorizer.get_feature_names()
    dataset = pd.DataFrame(word_matrix, columns = word_names)
    return dataset

In [121]:
# apply function and save to a variable
words_vector = MakeVector(documents)
word_columns = words_vector.columns

In [122]:
# Use the TD IDF algorithm to create normalized word frequency matrices
tfidfer = TfidfTransformer()
tfidf_maker = tfidfer.fit_transform(words_vector)
tfidf_matrix = tfidf_maker.toarray()
dataset = pd.DataFrame(tfidf_matrix, columns = word_columns)

In [123]:
# Get the shape of the dataset
dataset.shape

(1470, 44027)

In [126]:
# Create a processed dataset with the name and text of the person
people = people.rename(columns = {'name': 'Person_name', 'text': 'Person_text'})
proc_datasets = pd.concat([people[['Person_name', 'Person_text']], dataset], axis = 1)

In [199]:
# print the document
cluster = proc_datasets.columns[2:]

In [202]:
cluster_set = proc_datasets[cluster]

In [283]:
### Apply nearest neighbors for retrieval of Wikipedia articles
## Build the NN model
# create nearest neighbor model
k_means = KMeans(n_clusters=15)
k_means_clusters = k_means.fit(cluster_set)

In [291]:
# Create cluster variable
proc_datasets['cluster'] = k_means_clusters.labels_

In [292]:
# Create dataset search
labeled_data = proc_datasets[['Person_name', 'Person_text', 'cluster']]

In [303]:
# create person search and get filtered dataset
person_search = input("Paste Person's Name:").title()
clust_num = int(labeled_data[labeled_data['Person_name'] == person_search]["cluster"])
print('Here is the cluster number:', clust_num)
search_select = labeled_data[labeled_data['cluster'] == clust_num].reset_index()

Paste Person's Name:Olari Elts
Here is the cluster number: 4

In [305]:
# print dataset
search_select

,index,Person_name,Person_text,cluster
0,4,Fran%C3%A7ois-Xavier Roth,franoisxavier roth born 6 november 1971 paris ...,4
1,17,Frances Yip,frances yip laiyee born 1947 is a hong kong ca...,4
2,76,Robert Orledge,robert orledge is a leading scholar of early t...,4
3,77,Stefan Szkafarowsky,stefan szkafarowsky is an opera singerthe 2013...,4
4,78,Arthur Kisenyi,arthur kisenyi born 1990 is a ugandan actor si...,4
5,86,Antti Siirala,antti siirala born 16 may 1979 in helsinki is ...,4
6,113,Lev Vinocour,lev vinocour born 1970 is a pianist from russi...,4
7,163,John Simon (composer),john simon 12 march 1944 in cape town is a sou...,4
8,226,Caroline Kang,caroline kang new york 1980 is an american con...,4
9,311,Walter Prystawski,walter prystawski cm born 1933 is a canadian v...,4
10,318,Jorma Hynninen,jorma kalervo hynninen born april 3 1941 is a ...,4
11,341,Simon de Souza,simon de souza is one of the most active and i...,4
12,398,Merima Klju%C4%8Do,merima kljuo is a bosnianborn los angelesbased...,4
13,407,Anjelika Akbar,anjelika akbar born 1969 in karaganda kazakhst...,4
14,468,Jean-Pierre Leguay,jeanpierre leguay born 4 july 1939 in dijon is...,4
15,501,Richard Grayson (composer),richard grayson born 1941 is an american compo...,4
16,523,Mike Hovancsek,mike hovancsek born c 1967 is a multiinstrumen...,4
17,553,Kui Min (pianist),kui min is a chineseborn pianistkui minwas bor...,4
18,559,Carmen Moral,carmen moral is an orchestra conductor and als...,4
19,597,Radovan Vlatkovi%C4%87,radovan vlatkovi born 1962 is a croatian born ...,4
20,654,Ragnar Bohlin,ragnar bohlin is a swedish conductor born in 1...,4
21,692,Robert Sims,robert lewis sims born october 10 1965 in chic...,4
22,695,David Whiston,david whiston born 8 october 1941 grew up in y...,4
23,699,Nicholas Collon,nicholas collon is a british conductor who hol...,4
24,704,Michael H. Weinstein,michael h weinstein born june 26 1960 is a swi...,4
25,725,Blagica Pop Tomova,blagica pop tomova born 1977 is an operatic so...,4
26,783,Garrett Byrnes,garrett byrnes born december 30 1971 is an ame...,4
27,799,Andrew Manze,andrew manze born 14 january 1965 is an englis...,4
28,847,Roberto Ruscitti,roberto ruscitti cansano laquila december 12 1...,4
29,858,Carlos Bonell,carlos bonell born london 1949 is an english c...,4
30,883,Chosei Komatsu,chosei komatsu komatsu chsei born march 1 1958...,4
31,998,Pekka Kuusisto,pekka kuusisto born 7 october 1976 in espoo is...,4
32,1011,Fred Onovwerosuoke,fred onovwerosuoke born 1960 is an american co...,4
33,1040,Anssi Karttunen,anssi karttunen born 1960 is a finnish cellist...,4
34,1118,Paul Brennan (Northern Ireland musician),paul brennan is a traditional musician from co...,4
35,1203,Moye Kolodin,moye kolodin born 5 may 1987 in freiburg germa...,4
36,1207,Damien Top,damien top born 1963 is a french tenor musicol...,4
37,1266,Kenneth Radnofsky,kenneth a radnofsky born july 31 1953 bryn maw...,4
38,1277,Alex Klein,alex klein born 1964 porto alegre is an oboist...,4
39,1287,Paul Neebe,paul neebe is an american classical trumpeter ...,4
40,1308,Linda Strommen,linda strommen is an american oboist she is pr...,4
41,1421,Julian Dawes,julian dawes born 1942 is an english composer ...,4
42,1465,Olari Elts,olari elts born april 27 1971 in tallinn eston...,4